<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="\public\style.css">
        
    </head>


    <body>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li style="float:right"><a class="login" href="login">Login</a></li>
        </ul>
        <br><br>
        <div class="title"><h1>About Us..</h1></div>
        <br><br>

          <h2 style="text-align:center">Our Team</h2>
          <br><br>
        <div class="row">
            <div class="column">
              <div class="card">
                <img src="\public\women.png" alt="Mordjane" style="width:100%">
                <div class="container">
                  <h2>Mordjane ARIBI</h2>
                  <p class="title">Co-Founder</p>
                  <p>mordjane.aribi@efrei.net</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="\public\men.jpeg" alt="Luisito" style="width:100%">
                <div class="container">
                  <h2>Luis ALBA SANCHEZ</h2>
                  <p class="title">Co-Founder</p>
                  <p>luis.alba.sanchez@efrei.net</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
        </div>

            <br>

        <img class="img" src="\public\efrei.png">
        <img class="img1" src="\public\uci.png">

    </body>
</html>
