<!DOCTYPE html>
<html>
    <head>
        <title>Reset password</title>
        <link rel="stylesheet" type="text/css" href="\public\style.css">
        
    </head>


    <body>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li style="float:right"><a class="login" href="login">Login</a></li>
        </ul>
        <br><br>     
        <div class="title"><h1>Create new password</h1></div>

        <form id="login">
            <div id="admin">
                <h2 class="name">Mail</h2>
                <br> 
                <input class="mail" id ="mail" type="text" required name="mail" placeholder="xyz@mail.com" size="40"><br>
                <h2 class="name">New password</h2>
                <br>
                <input class="password" id="password" type="text" required name="password" placeholder="xxxxxx" size="40"><br>
                <h2 class="name">Confirm password</h2>
                <br>
                <input class="password" id="password" type="text" required name="password" placeholder="xxxxxx" size="40"><br>

                <br><br>
                <button type="submit" id="reset" style="vertical-align:middle"><span>Reset Password </span></button>
                
        </div>  
        </form>

        

        

    </body>
</html>